<div *ngIf="isView" class="clr-row clr-justify-content-center">
  <div class="clr-col-6">
    <button type="button" class="btn btn-icon btn-primary" (click)="onAdd()">
      <clr-icon shape="plus"></clr-icon>
    </button>
  </div></div>
<div *ngIf="isView" class="clr-row clr-justify-content-center">
  <div class="clr-col-6">
    <lib-view-grid-template [viewTypeInput]="viewType.PERFORMANCEHUB" [viewData]="viewData"></lib-view-grid-template>
  </div></div>
<lib-create-template *ngIf="isCreate" [viewTypeInput]="viewType.PERFORMANCEHUB" (newItemEvent)="addPerformanceHub($event)"></lib-create-template>
